@font-face{
	font-family: 'baron';
	src: url(fonts/Baron_Neue.otf);
}


body{
	background-color: #F0F0F0;
}


.left-scroll,.right-scroll{
	font-size: 40px;
	height:40px;
	display: none;
}



.glyphicon{
	top:0px;
}


.wrap{
	min-width: 920px;
	text-align: center;
}

.col-xs-1{
	text-align: center;
	padding-top: 55px;
}

.input-group{
	width:400px;
	margin-bottom: 15px;
}


.title{
	float:left;
	padding:40px;
	font-family: 'baron', sans-serif;
	font-size: 40px;
	color: #428bca;
}

.title a{
	color: #428bca;
	text-decoration: none;
}

.title a:hover{
	color: #428bca;
	text-decoration: none;
}



.header{
	height: 130px;
	background-color: #F0F0F0;
	border-bottom: #BCBCBC solid 2px;
	/* border-radius: 0 0 15px 15px; */
	padding: 0;
	position: fixed;
	margin-bottom: 40px;
	/* width: 1020px; */
	left: 0;
	right: 0;
}

#map{
	width:100%;
	height:400px;
	/*margin-top:30px;*/
	clear:both;
	background-image: url(images/loading.gif);
	background-position: 50% 50%;
	background-size: 70px;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}


.loading{
	width:100%;
	height:400px;
	margin-top:30px;
	background-image: url(images/loading.gif);
	background-position: 50% 50%;
	background-size: 70px;
	background-repeat: no-repeat;
	border: 2px dashed rgb(194, 194, 194);
	border-radius: 12px;
	display:none;
}


#search-area{
	float: right;
	margin-bottom: 25px;
	padding: 50px 30px 0 0px;
}

.food-thumbnail{
	/*border: 2px white solid; */
	/* border-radius: 10px; */
	/*float: left;*/
	/* vertical-align: middle; */
	/* box-shadow: rgb(208, 208, 208) 0px 4px 5px; */
	overflow: hidden;
	height: 190px;
	position: relative;
	border-bottom: 1px solid rgb(213, 213, 213);
}

#carousel_ul{
	list-style: none;
	left:0px;

	list-style-type: none;
	-webkit-padding-start:0px;
	position: relative;
}

#outer{
	overflow: hidden;
	height: 150px;
}

#carousel_ul li{
	width:140px;
	height:113px;
	display: table-cell;
	padding:20px;
}


/*
.food-thumbnail img{
	border-radius:10px;
}
*/




.user-search-response, .user-search-response-number, .user-search-response-error{
	font-weight: bold;
}

.user-search, .user-search-number, .error-message{
	display:none;
	text-align: left;
}

.user-search-number{
	padding-bottom: 10px;
}

#scroll{
	height:150px;
	margin-bottom: 40px;
}

span.glyphicon.glyphicon-circle-arrow-left,span.glyphicon.glyphicon-circle-arrow-right{
	color:#D96767;
}

span.glyphicon.glyphicon-circle-arrow-left:hover:hover,span.glyphicon.glyphicon-circle-arrow-right:hover:hover{
	color:#BF5E5E;
}

.image-holders{
	overflow: hidden;
	height: 150px;
}

.left-scroll glyphicon glyphicon-circle-arrow-left{
	width:100px;
}


.results li{
	float: left;
	list-style: none;
	background-color:#404040;
	width: 230px;
	height: 280px;
	margin-left: 20px;
	margin-bottom: 26px;
	border-radius: 4px;
	/*overflow: hidden;*/
	box-shadow: rgb(236, 236, 236) 0px 4px 2px;
	position: relative;
}

.results{
	display: inline-block;
	width: 1000px;
	margin: auto;
}

.resultName{
	height: 50px;
	/* width: 200px; */
	text-align: left;
	padding: 10px;
	color: #FEE4A8;
	font-weight: 200;
	letter-spacing: .70px;
}


.frame{
	background-color: rgb(255, 255, 255);
	width: 1020px;
	margin: auto;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 30px;
	top: 180px;
	position: absolute;
	z-index: -10;
	left: 0;
	right: 0;
}


.liBorder{
	width: 710px;
	text-align: center;
	margin-left: -20px;
	display: none;
}


.location{
	color: rgb(154, 154, 154);
	font-size: 12px;
	text-align: right;
	padding: 10px 10px 10px 0px;
	float: left;
}



.input-group-btn>.btn:focus{
	outline:0;
}

.form-control:focus{
	border-color: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.icon{
	float: left;
	color: rgb(154, 154, 154);
	font-size: 12px;
	text-align: right;
	padding: 10px 0px 10px 10px;
}

.icongroup{
	float:right;
}







@media (max-width: 1042px) {

  .header{
  	padding:0px;
  }


  .title{
	float: left;
	padding: 45px 0 20px 40px;
	color: rgb(0, 0, 0);
	font-family: 'baron', sans-serif;
	font-size: 35px;
  }

  #search-area{
	float: right;
	margin-bottom: 25px;
	padding: 52px 50px 0 40px;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat Alternates', sans-serif;
  }

  .input-group {
	width: 400px;
  }

  .userChoice{
  	font-size: 15px;
  }


}


@media (max-width: 848px) {

  .header{
  	padding:0px;
  }


  .title{
	float: left;
	padding: 45px 0 20px 40px;
	color: rgb(0, 0, 0);
	font-family: 'baron', sans-serif;
	font-size: 30px;
  }

  #search-area{
	float: right;
	margin-bottom: 25px;
	padding: 48px 50px 0 20px;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat Alternates', sans-serif;
  }

  .input-group {
	width: 250px;
  }

  .userChoice{
  	font-size: 10px;
  }

}


@media (max-width: 636px) {

  .header{
  	padding:0px;
  }


  .title{
	float: left;
	padding: 45px 0 20px 40px;
	color: rgb(0, 0, 0);
	font-family: 'baron', sans-serif;
	font-size: 25px;
  }

  #search-area{
	float: right;
	margin-bottom: 25px;
	padding: 47px 50px 0 40px;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat Alternates', sans-serif;
  }

  .input-group {
	width: 200px;
  }

  .userChoice{
  	font-size: 10px;
  }

}



@media (max-width: 556px) {

  .header{
  	padding:0px;
  }


  .title{
	float: left;
	padding: 60px 0 20px 40px;
	color: rgb(0, 0, 0);
	font-family: 'baron', sans-serif;
	font-size: 18px;
  }

  #search-area{
	float: right;
	margin-bottom: 25px;
	padding: 55px 50px 0 20px;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat Alternates', sans-serif;
  }

  .input-group {
	width: 200px;
  }

  .userChoice{
  	font-size: 8px;
  }

}




@media (max-width: 472px) {

  .header{
  	padding:0px;
  }


  .title{
	float: left;
	padding: 60px 0 20px 20px;
	color: rgb(0, 0, 0);
	font-family: 'baron', sans-serif;
	font-size: 15px;
  }

  #search-area{
	float: right;
	margin-bottom: 25px;
	padding: 55px 30px 0 20px;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat Alternates', sans-serif;
  }

  .input-group {
	width: 190px;
  }

  .userChoice{
  	font-size: 8px;
  }

}



@media (max-width: 400px) {


  .title{
  	float: left;
	padding: 65px 20px 20px 20px;
	color: rgb(0, 0, 0);
	font-family: 'baron', sans-serif;
	font-size: 15px;
  }

  #search-area{
  	float: left;
	margin-bottom: 25px;
	padding: 58px 20px 0px 0px;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat Alternates', sans-serif;
  }

  .input-group {
	width: 200px;
  }

  .userChoice{
  	font-size: 8px;
  }


}


@media (max-width: 320px) {


	.title{
		float: left;
		padding: 65px 20px 20px 20px;
		color: rgb(0, 0, 0);
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 10px;
	}

    .input-group{
		width: 150px;
    }

	.frame{
		width:320px;
	}

	.liBorder{
		width:320px;
	}

	.results{
		width:320px;
	}

	.results li{
		width:280px;
	}

}



	.windowName{
		font-weight: bold;
		text-align: left;
		font-size: 15px;
		padding-bottom: 5px;
	}

	.windowLocation{
		text-align: left;
		font-size: 12px;
		font-style: italic;
	}

	.windowPic{
		float:left;
		margin-right: 10px;
	}


.hover{
	/* width: 200px; */
	/* height: 40px; */
	color: white;
	font-weight: 400;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 30px;
	right: -30px;
	padding: 15px;
	display: none;
	font-size: 12px;
}


.icongroup:hover {
	cursor: default;
}


.content{
	background:blue;
}


.windowContent{
	float:left;
	width: 200px;
}



#find-sign{
	float: right;
	margin-bottom: 25px;
	padding: 50px 30px 0 0px;
	font-weight: bolder;
	font-size: 22px;
	line-height: 18px;
	width: 125px;
	letter-spacing: .80px;
	font-style: normal;
}

.small-text{
	font-size: 11px;
	font-weight: 600;
	color: rgb(104, 104, 104);
	font-style: italic;

}